<!DOCTYPE html>
<html>

<head>
    <link href="/botchat.css" rel="stylesheet" />
</head>

<body>
    <div id="bot" />
    <script src="/botchat.js"></script>
    <script>
        function getModel() {
            var userId = btoa(new Date().getTime());
            return {
                userId: userId,
                userName: "You",
                botId: "TEST",
                botIconUrl: '',
            };
        }


        try {
            var model = localStorage.getItem('__chat');
            if (!model) {
                model = getModel();
                localStorage.setItem('__chat', JSON.stringify(model));
            } else {
                model = JSON.parse(model);
            }
        } catch (e) {
            console.error(e);
            model = getModel();
        }


        BotChat.App({
            directLine: { secret: "bjf6GOqQmiI.cwA.1Es.vqFQs3Iha8qI73hXuIsSFSbpcpKkQOy9AGjUFBWV2PY" },
            user: { id: model.userId },
            bot: { id: model.botId },
            resize: 'detect'
        }, document.getElementById("bot"));
    </script>
</body>

</html>